In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sqlalchemy import create_engine

In [5]:
os.chdir('./')

# Review nutrient table and get only important values for us

In [6]:
nut = pd.read_csv("./Health_Nutritions _databases/nutrient.csv", usecols=['id', 'name', 'unit_name'],
                 index_col='id')
nut

                                    name unit_name
id
1002                            Nitrogen         G
1003                             Protein         G
1004                   Total lipid (fat)         G
1005         Carbohydrate, by difference         G
1007                                 Ash         G
...                                  ...       ...
2029                      trans-Lycopene        UG
2032                Cryptoxanthin, alpha        UG
2033  Total dietary fiber (AOAC 2011.25)         G
2047    Energy (Atwater General Factors)      KCAL
2048   Energy (Atwater Specific Factors)      KCAL

[237 rows x 2 columns]

In [22]:
nut_select = ['Protein', 'Energy', 'Carbohydrate, by summation', 'Sugars, Total NLEA', 'Fatty acids, total saturated', 'Fatty acids, total monounsaturated', 'Fatty acids, total polyunsaturated']
importnut = nut[nut['name'].isin(nut_select)]
importnut
#nut select will be a roll-down list of elements to chose by an user

                                    name unit_name
id
1003                             Protein         G
1008                              Energy      KCAL
1050          Carbohydrate, by summation         G
1062                              Energy        kJ
1063                  Sugars, Total NLEA         G
1258        Fatty acids, total saturated         G
1292  Fatty acids, total monounsaturated         G
1293  Fatty acids, total polyunsaturated         G

In [8]:
nut_list = list(importnut.index)
nut_list #prepared list used later for narrowing spectrum

[1003, 1008, 1050, 1062, 1063, 1258, 1292, 1293]

# Review food nutrient table to decrease size of table

In [18]:
food_nut = pd.read_csv("./Health_Nutritions _databases/food_nutrient.csv", low_memory=False,
                      usecols=['fdc_id', 'nutrient_id','amount'])

In [19]:
food_nut[food_nut['nutrient_id'].isin(nut_list)]

          fdc_id  nutrient_id    amount
203       167512         1003     5.880
205       167512         1062  1286.000
211       167512         1258     2.941
214       167512         1008   307.000
217       167513         1003     4.340
...          ...          ...       ...
7547652  1105781         1062   256.000
7547822  1105897         1063    12.600
7547840  1105897         1003     0.150
7547842  1105897         1008    65.000
7547843  1105897         1062   271.000

[1570233 rows x 3 columns]

In [20]:
food_nut.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7547844 entries, 0 to 7547843
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   fdc_id       int64
 1   nutrient_id  int64
 2   amount       float64
dtypes: float64(1), int64(2)
memory usage: 172.8 MB

# Review food table
1) Filter food - using agricultural_acquisition - try to make data readable and usable for user

In [146]:
data = pd.read_csv("./Health_Nutritions _databases/food.csv", low_memory=False,
                      usecols=['fdc_id', 'data_type', 'description'])
data

,fdc_id,data_type,description
0,1105898,experimental_food,Metabolizable Energy of Almonds
1,1105899,experimental_food,"Metabolizable Energy of Almonds, Food Processi..."
2,1105900,experimental_food,Metabolizable Energy of Cashews
3,1105901,experimental_food,Metabolizable Energy of Pistachios
4,1105902,experimental_food,Metabolizable Energy of Walnuts
...,...,...,...
533607,1105893,sub_sample_food,"APPLES, FUJI"
533608,1105894,sub_sample_food,"APPLES, FUJI"
533609,1105895,sub_sample_food,"APPLES, FUJI"
533610,1105896,sub_sample_food,"APPLES, FUJI"
533611,1105897,foundation_food,"Apples, fuji, with skin, raw"

In [147]:
#market_acquistion = data.where(data['data_type'] == 'market_acquistion').dropna()

In [148]:
agricultural_acquisition = pd.read_csv("./Health_Nutritions _databases/agricultural_acquisition.csv")
agricultural_acquisition['fdc_id']

0      335241
1      335242
2      335243
3      335244
4      335246
        ...
805    336062
806    336063
807    336064
808    336065
809    336066
Name: fdc_id, Length: 810, dtype: int64

In [149]:
data[data.isin(agricultural_acquisition)].dropna()

Empty DataFrame
Columns: [fdc_id, data_type, description]
Index: []

In [150]:
search_word = input("Insert searching product: ")
search_list = sample_food.where(sample_food['description'].str.contains(search_word)).dropna(how='all')
search_list

Insert searching product: Egg

          data_type  description
fdc_id
748916  sample_food  Eggs, whole