In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sqlalchemy import create_engine

In [3]:
os.chdir('./')

# Review nutrient table and get only important values for us

In [26]:
nut = pd.read_csv("./Health_Nutritions _databases/nutrient.csv", usecols=['id', 'name', 'unit_name'])
list(nut["name"])

['Nitrogen',
 'Protein',
 'Total lipid (fat)',
 'Carbohydrate, by difference',
 'Ash',
 'Energy',
 'Starch',
 'Sucrose',
 'Glucose (dextrose)',
 'Fructose',
 'Lactose',
 'Maltose',
 'Alcohol, ethyl',
 'Specific Gravity',
 'Acetic acid',
 'Citric acid',
 'Lactic acid',
 'Malic acid',
 'Carbohydrate, by summation',
 'Water',
 'Sorbitol',
 'Caffeine',
 'Theobromine',
 'Energy',
 'Sugars, Total NLEA',
 'Carbohydrate, other',
 'Galactose',
 'Xylitol',
 'Fiber, total dietary',
 'Ribose',
 'Fiber, soluble',
 'Fiber, insoluble',
 'Total fat (NLEA)',
 'Total sugar alcohols',
 'Calcium, Ca',
 'Chlorine, Cl',
 'Iron, Fe',
 'Magnesium, Mg',
 'Phosphorus, P',
 'Potassium, K',
 'Sodium, Na',
 'Sulfur, S',
 'Zinc, Zn',
 'Chromium, Cr',
 'Cobalt, Co',
 'Copper, Cu',
 'Fluoride, F',
 'Iodine, I',
 'Manganese, Mn',
 'Molybdenum, Mo',
 'Selenium, Se',
 'Vitamin A, IU',
 'Retinol',
 'Vitamin A, RAE',
 'Carotene, beta',
 'Carotene, alpha',
 'Vitamin E (alpha-tocopherol)',
 'Vitamin D (D2 + D3), International Units',
 'Vitamin D2 (ergocalciferol)',
 'Vitamin D3 (cholecalciferol)',
 '25-hydroxycholecalciferol',
 'Vitamin D (D2 + D3)',
 'Phytoene',
 'Phytofluene',
 'Zeaxanthin',
 'Cryptoxanthin, beta',
 'Lutein',
 'Lycopene',
 'Lutein + zeaxanthin',
 'Vitamin E (label entry primarily)',
 'Tocopherol, beta',
 'Tocopherol, gamma',
 'Tocopherol, delta',
 'Tocotrienol, alpha',
 'Tocotrienol, beta',
 'Tocotrienol, gamma',
 'Tocotrienol, delta',
 'Boron, B',
 'Nickel, Ni',
 'Vitamin E',
 'cis-beta-Carotene',
 'cis-Lycopene',
 'cis-Lutein/Zeaxanthin',
 'Vitamin C, total ascorbic acid',
 'Thiamin',
 'Riboflavin',
 'Niacin',
 'Pantothenic acid',
 'Vitamin B-6',
 'Biotin',
 'Folate, total',
 'Vitamin B-12',
 'Choline, total',
 'Inositol',
 'Vitamin K (Menaquinone-4)',
 'Vitamin K (Dihydrophylloquinone)',
 'Vitamin K (phylloquinone)',
 'Folic acid',
 'Folate, food',
 '5-methyl tetrahydrofolate (5-MTHF)',
 'Folate, DFE',
 '10-Formyl folic acid (10HCOFA)',
 '5-Formyltetrahydrofolic acid (5-HCOH4',
 'Choline, free',
 'Choline, from phosphocholine',
 'Choline, from phosphotidyl choline',
 'Choline, from glycerophosphocholine',
 'Betaine',
 'Choline, from sphingomyelin',
 'Tryptophan',
 'Threonine',
 'Isoleucine',
 'Leucine',
 'Lysine',
 'Methionine',
 'Cystine',
 'Phenylalanine',
 'Tyrosine',
 'Valine',
 'Arginine',
 'Histidine',
 'Alanine',
 'Aspartic acid',
 'Glutamic acid',
 'Glycine',
 'Proline',
 'Serine',
 'Hydroxyproline',
 'Cysteine',
 'Glutamine',
 'Taurine',
 'Sugars, added',
 'Vitamin E, added',
 'Vitamin B-12, added',
 'Cholesterol',
 'Fatty acids, total trans',
 'Fatty acids, total saturated',
 '4:0',
 '6:0',
 '8:0',
 '10:0',
 '12:0',
 '14:0',
 '16:0',
 '18:0',
 '20:0',
 '18:1',
 '18:2',
 '18:3',
 '20:4',
 '22:6 n-3 (DHA)',
 '22:0',
 '14:1',
 '16:1',
 '18:4',
 '20:1',
 '20:5 n-3 (EPA)',
 '22:1',
 '22:5 n-3 (DPA)',
 '14:1 t',
 'Phytosterols',
 'Stigmasterol',
 'Campesterol',
 'Brassicasterol',
 'Beta-sitosterol',
 'Campestanol',
 'Fatty acids, total monounsaturated',
 'Fatty acids, total polyunsaturated',
 'Beta-sitostanol',
 'Delta-5-avenasterol',
 'Phytosterols, other',
 '15:0',
 '17:0',
 '24:0',
 '16:1 t',
 '18:1 t',
 '22:1 t',
 '18:2 t not further defined',
 '18:2 i',
 '18:2 t,t',
 '18:2 CLAs',
 '24:1 c',
 '20:2 n-6 c,c',
 '16:1 c',
 '18:1 c',
 '18:2 n-6 c,c',
 '22:1 c',
 '18:3 n-6 c,c,c',
 '17:1',
 '20:3',
 'Fatty acids, total trans-monoenoic',
 'Fatty acids, total trans-dienoic',
 'Fatty acids, total trans-polyenoic',
 '13:0',
 '15:1',
 '22:2',
 '11:0',
 'Epigallocatechin-3-gallate',
 'Inulin',
 '18:3 n-3 c,c,c (ALA)',
 '20:3 n-3',
 '20:3 n-6',
 '20:4 n-6',
 '18:3i',
 '21:5',
 '22:4',
 '18:1-11 t (18:1t n-7)',
 '20:3 n-9',
 'Sugars, total including NLEA',
 '5:0',
 '7:0',
 '9:0',
 '21:0',
 '23:0',
 '12:1',
 '14:1 c',
 '17:1 c',
 '20:1 c',
 '20:1 t',
 '22:1 n-9',
 '22:1 n-11',
 '18:2 c',
 '18:3 c',
 '18:3 t',
 '20:3 c',
 '22:3',
 '20:4 c',
 '20:5 c',
 '22:5 c',
 '22:6 c',
 '20:2 c',
 'trans-beta-Carotene',
 'trans-Lycopene',
 'Cryptoxanthin, alpha',
 'Total dietary fiber (AOAC 2011.25)',
 'Energy (Atwater General Factors)',
 'Energy (Atwater Specific Factors)']

In [28]:
nut_select = ['Protein', 'Energy', 'Carbohydrate, by difference', 'Sugars, Total NLEA', 'Fatty acids, total saturated', 'Fatty acids, total monounsaturated', 'Fatty acids, total polyunsaturated']
importnut = nut[nut['name'].isin(nut_select)]
importnut

       id                                name unit_name
1    1003                             Protein         G
3    1005         Carbohydrate, by difference         G
5    1008                              Energy      KCAL
23   1062                              Energy        kJ
24   1063                  Sugars, Total NLEA         G
136  1258        Fatty acids, total saturated         G
166  1292  Fatty acids, total monounsaturated         G
167  1293  Fatty acids, total polyunsaturated         G

In [29]:
nut_list = list(importnut['id'])
nut_list #prepared list used later for narrowing spectrum

[1003, 1005, 1008, 1062, 1063, 1258, 1292, 1293]

# Review food nutrient table

In [30]:
food_nut = pd.read_csv("./Health_Nutritions _databases/food_nutrient.csv", low_memory=False,
                      usecols=['fdc_id', 'nutrient_id','amount'])

In [31]:
food_nut = food_nut[food_nut['nutrient_id'].isin(nut_list)]

In [32]:
food_nut.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2059626 entries, 203 to 7547843
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   fdc_id       int64
 1   nutrient_id  int64
 2   amount       float64
dtypes: float64(1), int64(2)
memory usage: 62.9 MB

# Review food table

In [33]:
data = pd.read_csv("./Health_Nutritions _databases/food.csv", low_memory=False,
                  usecols=['fdc_id', 'data_type', 'description'], index_col='fdc_id')
data

                 data_type                                        description
fdc_id
1105898  experimental_food                    Metabolizable Energy of Almonds
1105899  experimental_food  Metabolizable Energy of Almonds, Food Processi...
1105900  experimental_food                    Metabolizable Energy of Cashews
1105901  experimental_food                 Metabolizable Energy of Pistachios
1105902  experimental_food                    Metabolizable Energy of Walnuts
...                    ...                                                ...
1105893    sub_sample_food                                       APPLES, FUJI
1105894    sub_sample_food                                       APPLES, FUJI
1105895    sub_sample_food                                       APPLES, FUJI
1105896    sub_sample_food                                       APPLES, FUJI
1105897    foundation_food                       Apples, fuji, with skin, raw

[533612 rows x 2 columns]

In [43]:
search_word = input("Insert searching product: ")
search_list = data.where(data['description'].str.contains(search_word)).dropna(how='all')
search_list

Insert searching product: Rice

                 data_type                                        description
fdc_id
168065      sr_legacy_food  Restaurant, Latino, Arroz con habichuelas colo...
168107      sr_legacy_food  Rice cake, cracker (include hain mini rice cakes)
168875      sr_legacy_food  Rice, brown, medium-grain, cooked (Includes fo...
168876      sr_legacy_food           Rice, brown, parboiled, dry, UNCLE BEN'S
168877      sr_legacy_food    Rice, white, long-grain, regular, raw, enriched
...                    ...                                                ...
1102514  survey_fndds_food  Rice, brown, with vegetables, soy-based sauce,...
1102515  survey_fndds_food  Rice, brown, with vegetables, soy-based sauce,...
1102516  survey_fndds_food  Rice, brown, with vegetables, soy-based sauce,...
1102548  survey_fndds_food                                     Rice soup, NFS
1102564  survey_fndds_food           Rice and potato soup, Puerto Rican style

[677 rows x 2 columns]

# Return nutrient values for choose product (fdc_id)

In [46]:
fdc = int(input("Insert fdc_id of product: "))
work = food_nut.where(food_nut['fdc_id'] == fdc).dropna().rename(columns = {"nutrient_id": "id"})
work

Insert fdc_id of product: 168877

          fdc_id      id    amount
112225  168877.0  1005.0    79.950
112226  168877.0  1008.0   365.000
112231  168877.0  1292.0     0.206
112232  168877.0  1293.0     0.177
112250  168877.0  1003.0     7.130
112264  168877.0  1258.0     0.180
112284  168877.0  1062.0  1527.000

#Display in format amount - nutrient - unit name`

In [47]:
result = pd.merge(importnut, work)[["amount", "name", "unit_name"]]
result

     amount                                name unit_name
0     7.130                             Protein         G
1    79.950         Carbohydrate, by difference         G
2   365.000                              Energy      KCAL
3  1527.000                              Energy        kJ
4     0.180        Fatty acids, total saturated         G
5     0.206  Fatty acids, total monounsaturated         G
6     0.177  Fatty acids, total polyunsaturated         G